body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.animated-cards-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  perspective: 800px;
}

.animated-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  border-radius: 16px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  backdrop-filter: blur(15px);
  transition: transform 0.3s ease;
  text-align: left;
  position: relative;
}

.card-new-app {
  background: linear-gradient(
    140deg,
    rgba(52, 54, 84, 0.9),
    rgba(19, 18, 45, 0.9)
  );
}

.card-upgrade {
  background: linear-gradient(
    140deg,
    rgba(46, 28, 41, 0.9),
    rgba(15, 15, 20, 0.9)
  );
}

.card h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  margin-bottom: 18px;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

.card-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-btn:hover {
  transform: translateY(-3px);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

@media (max-width: 768px) {
  .animated-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

  .cards-container {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 90%;
    padding: 20px;
  }

  .card h2 {
    font-size: 1.4rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .card-btn {
    font-size: 0.9rem;
  }
}
