.chatbot-container {
  border-radius: 50%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chatbot-spacer {
  flex-grow: 1;
}

.chatbot-scroll-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chatbot-scroll-area::-webkit-scrollbar {
  display: none;
}

.chatbot-message {
  background-color: #fff;
  padding: 20px 26px;
  border-radius: 20px;
  max-width: 70%;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.4s ease;
  word-wrap: break-word;
}

.chatbot-message.left {
  align-self: flex-start;
  background-color: #e0f7fa;
}

.chatbot-message.right {
  align-self: flex-end;
  background-color: #c8e6c9;
}

.chatbot-message.center-user {
  align-self: center;
  background-color: #b2ebf2; /* Azul claro usuário */
}

.chatbot-message.center-bot {
  align-self: center;
  background-color: #a5d6a7; /* Verde claro bot */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
